@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #0D065E;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    font-family: 'Creepster', cursive;
    font-size: 55px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Landing Page Styling */

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

.header {
    color: #880808;
    display: flex;
    padding: 1rem;
}

.instructions {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 35vw;
}

.launch {
    background-color: #880808;
    color: #FFFFFF;
    border-radius: 150px;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.launch:hover {
    background-color: #000000;
  }

.background {
    align-items: center;
    background-color: #053D09;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 100vw;
}

footer {
    padding: 1rem;
}

/* Game Page Styling */

button {
    cursor: pointer;
}

.nav-bar {
    height: 20vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    align-items: center;
}

.stats {
    justify-self: center;
}

.instruction-content {
    font-size: 1rem;
    font-weight: lighter;
    justify-self: right;
}

.instruction-buttons {
    grid-column: 3 / 4;
    justify-self: center;
}

.home-button {
    grid-column: 4 / 5;
    justify-self: center;
}

.instruction-button,
.home-icon {
    background: none;
    border-style: none;
    color: #FFFFFF;
}

i:hover {
    color: #D3D3D3;
}

.home-icon:hover {
    color: #D3D3D3;
}

.game-area {
    background-color: #053D09;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    justify-items: center;
    align-items: center;
    height: 80vh;
}

.grid-item {
    height: 200px;
    margin: 2rem 6rem;
    text-align: center;
    width: 200px;
    position: relative;
}

.gravestone {
    height: 12rem;
    width: auto;
}


.zombie-sprite {
    z-index: 2;
    height: 10rem;
    width: auto;
    position: absolute;
    left: 2.5rem;
}

#end-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000000; /* Fallback color */
}

.end-modal-content {
    background-color: #000000;
    color: #FFFFFF;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modalicons, #modalhome, #modalrestart {
    display: flex;
}